<!DOCTYPE html>
<html>
  <head>
    <script src="face-api.js"></script>
    <!-- <script src="js/commons.js"></script> -->
    <script src="js/faceDetectionControls.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="./faceDetectionPage.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
  </head>
  <body>
    <div style="width: 100%;">
      <div style="background-color: #7f00ff;position: absolute;top:0px;left:
        0px;width: 100%;height: 130px;align-items: center;
        display: flex; justify-content: center;">
        <h1 style="text-align: center; color: white;font-size:  60px;">Face Liveness</h1>
      </div>
        <div class="video-container-define" style="position: absolute;top:130px;left: 0px;z-index: 1;">
          <video class="camera" onloadedmetadata="onPlay(this)" id="inputVideo"
            autoplay muted playsinline></video>
          <canvas class="canvas" id="overlay" />
        </div>
        <div style="position: absolute;top:130px;left: 0px;z-index: 2;">
          <img src="assets/ic_undetected.png" id="imgOval" style="width: 100%;"/>
          <!-- <input type="button" value="Capture" onclick="onCapture()"
            style="width: 100%;height: 150px;" />
          <img id="img_test" src="sdf" width="100%" /> -->
      </div>
      <div style="position: fixed;z-index: 3;width: 100%; bottom: 0;margin-bottom: 150px; align-items: center;">
        <p id="txtMessage"> </p>
      </div>
      <div style="position: absolute; display: none; justify-content: center; align-items: center; z-index: 400; width: 100%; height: 100vh;" id="loadingView">
        <div class="spinner-border text-primary" style="width: 200px; height: 200px;align-items: center;"></div>
      </div>      
      <div style="position: absolute;top:130px;left: 0px;z-index: 4;"  style="width: 100%;align-items: center;">
        <p style="color: white; ;font-size: 40px; text-align: center;" id = "authenticationRes"></p><br/><br/><br/>
        <!-- <p style="color: white; ;font-size: 40px; text-align: center;" id = "postREs"></p>
      </div> -->
    </div>
    <script>
      let screenWidth = window.innerWidth
      let screenHeight = window.innerHeight
      var imgURL
      var faceDetectFlag = true
      // var FormData = require('form-data');
      const loadingDialog = document.getElementById( 'loadingView' );
      function onCapture() {
        var canvas = document.getElementById("overlay");
        var video = document.getElementById("inputVideo");
        canvas.getContext('2d').drawImage(video, 0, 0);
        console.log("clicked:", canvas.toDataURL())
        imgURL = canvas.toDataURL()
        console.log("img url : ", imgURL)
        authenticationToServer()
        // var img = document.getElementById('img_test');
        // img.src = canvas.toDataURL();
      }      
      function authenticationToServer(){       
        var formData = new FormData();
        loadingDialog.style.display = "flex"
        formData.append("api_key", "Mzc0MTExMjUtNTBmMS00ZTA3LWEwNjktZjQxM2UwNjA3ZGEw");
        formData.append("secret_key","YTE4YmM5YmYtZjZhYS00MTU5LWI4Y2EtYjQyYTRkNzAxOWZj")
        axios({
            method: 'post',
            url: 'https://109.238.12.179:5000/v1/api/client/authentificate',
            data: formData,  
            headers: {'Content-Type': `multipart/form-data; boundary=${formData._boundary}` }          
            })
            .then(function (response) {
              // loadingDialog.style.display = "none"     
                uploadPhtoToServer(response.api_access_token)         
                let JsonResponse = JSON.parse(JSON.stringify(response ))
                document.getElementById("authenticationRes").innerText = JsonResponse
            })
            .catch(function (response) {
              loadingDialog.style.display = "none"
              document.getElementById("authenticationRes").innerText = "authentication failed"
              //handle error
              console.log(response);
          });
      }
      function uploadPhtoToServer(token){       
        var formData = new FormData();        
        formData.append("live_image_file", imgURL);
        axios({
            method: 'post',
            url: 'https://109.238.12.179:5000/v1/api/photoFaceLiveness',
            data: formData,  
            headers: {'Content-Type': `multipart/form-data; boundary=${formData._boundary}`,authorization:  token}          
            })
            .then(function (response) {
              loadingDialog.style.display = "none"
              document.getElementById("authenticationRes").innerText = response
              console.log(response);
            })
            .catch(function (response) {
              loadingDialog.style.display = "none"
              document.getElementById("authenticationRes").innerText = "face liveness error"
              //handle error
              console.log(response);
          });
      }
      async function onPlay() {
        const videoEl = $('#inputVideo').get(0)
        if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
          return setTimeout(() => onPlay())
        const options = getFaceDetectorOptions()
        const ts = Date.now()
        if(faceDetectFlag){
          const result = await faceapi.detectSingleFace(videoEl, options)
          if (result) {
            let oval_top = screenHeight*0.02
            let oval_down = screenHeight -screenHeight*0.26
            let space_top = result._box._y - oval_top
            let space_down = oval_down - (result._box._y + result._box.width)
            console.log(result._box._y)
            // document.getElementById("txtTopSpace").innerText = space_top
            // document.getElementById("txtDownSpace").innerText = space_down
            if (screenHeight * 0.04 < space_top && space_top < screenHeight * 0.085 && screenHeight * 0.32 < space_down &&  space_down< screenHeight * 0.4){
              document.getElementById("imgOval").src = "assets/ic_detected.png"
              document.getElementById("txtMessage").innerText = "Please keep your head in the frame to start selfie capture"
              faceDetectFlag = false
              onCapture()
            }else{
              document.getElementById("imgOval").src = "assets/ic_undetected.png"
              document.getElementById("txtMessage").innerText = "Please move closer the face "
              document.getElementById("authenticationRes").innerText = "face undetected"
            }    
            const canvas = $('#overlay').get(0)
            const dims = faceapi.matchDimensions(canvas, videoEl, true)
            // faceapi.draw.drawDetections(canvas, faceapi.resizeResults(result, dims))
          }else{
            document.getElementById("imgOval").src = "assets/ic_undetected.png"
            document.getElementById("txtMessage").innerText = "Please place your face on the oval and get closer to the device"
            document.getElementById("authenticationRes").innerText = "No face"
            // console.log("result no")
          }
        }else{
          console.log("face api call was occured")
        }
        
        setTimeout(() => onPlay())
      }
      async function run() {
        // load face detection model
        await changeFaceDetector(TINY_FACE_DETECTOR)
        changeInputSize(128)
        const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
        const videoEl = $('#inputVideo').get(0)
        videoEl.srcObject = stream
      }
      function updateResults() {}
      $(document).ready(function() {   
        // ovalview height setting   
        var img_height = window.innerHeight - 130;
        var x = document.getElementById("imgOval")
        x.height = img_height;
        // alert("sizeHeight:" + screenHeight +"sizeWidth"+ screenWidth)
        initFaceDetectionControls()
        // authenticationToServer()

        var formData = new FormData();
        formData.append("api_key", "Mzc0MTExMjUtNTBmMS00ZTA3LWEwNjktZjQxM2UwNjA3ZGEw");
        formData.append("secret_key","YTE4YmM5YmYtZjZhYS00MTU5LWI4Y2EtYjQyYTRkNzAxOWZj")

        // var https = require('https');        
        // const agent = new https.Agent({rejectUnauthorized: false})
        // const Http = new XMLHttpRequest();
        
        axios({
            method: 'post',
            url: 'https://109.238.12.179:5000/v1/api/client/authentificate',
            data: formData,  
            headers: {'Content-Type': `multipart/form-data; boundary=${formData._boundary}`},
            // httpsAgent: agent          
            })
            .then(function (response) {
              alert("response" + JSON.stringify(response ))
              console.log("Correct POST api call", JSON.stringify(response ));
            })
            .catch(function (response) {
              console.log("api call failed");
          });

        run()         
      })
    </script>
  </body>
</html>