.camera-container{
    z-index: 1;
    position: absolute;
    display: flex;
}
.frame-container{
    width: 100%;
    z-index: 33;    
    position: absolute;
    top: 50px;
}
/* .Canvas-container{
    width: 100%;
    z-index: 35;    
    position: absolute;
    top: 50px;
} */
.framImg{
    width: 100%;
    /* height: calc(100vh - 50px); */
}
.message-container{
    z-index: 50;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-bottom: 100px;
    
}
.txtMessage{
    color:white;
    padding-left: 5%; 
    padding-right: 5%; 
    text-align: center; 
    font-size: 20px;
}